aiohappyeyeballs

aiohttp

aiosignal

anyio

asttokens

attrs

certifi

charset-normalizer

click

colorama

comm

contourpy

cycler

datasets

debugpy

decorator

dill

executing

filelock

fonttools

frozenlist

fsspec

gensim

h11

hf-xet

httpcore

httpx

huggingface-hub

idna

ipykernel

ipython

ipython_pygments_lexers

ipywidgets

jedi

Jinja2

joblib

jupyter_client

jupyter_core

jupyterlab_widgets

kiwisolver

MarkupSafe

matplotlib

matplotlib-inline

mpmath

multidict

multiprocess

nest-asyncio

networkx

numpy

packaging

pandas

parso

pillow

platformdirs

prompt_toolkit

propcache

psutil

pure_eval

pyarrow

Pygments

pyparsing

python-dateutil

pytz

PyYAML

pyzmq

regex

requests

safetensors

scikit-learn

scipy

sentence-transformers

shellingham

six

smart_open

sniffio

stack-data

sympy

threadpoolctl

tokenizers

tornado

tqdm

traitlets

transformers

typer-slim

typing_extensions

tzdata

urllib3

wcwidth

widgetsnbextension

wrapt

xxhash

yarl